//  prettier-ignore
:root {
  /* font */
  --font-size-10: 10PX;
  --font-size-12: 12PX;
  --font-size-14: 14PX;
  --font-size-16: 16PX;
  --font-size-18: 18PX;
  --font-size-20: 20PX;
  --font-size-24: 24PX;
  --font-size-30: 30PX;
  --font-size-32: 32PX;
  --font-size-36: 36PX;
  --font-size-40: 40PX;
  --font-size-46: 46PX;
  --font-size-48: 48PX;
  --font-size-52: 52PX;
  --font-size-54: 54PX;
  --font-size-60: 60PX;
  --font-size-64: 64PX;
  
  // element 样式尺寸
  --el-border-radius-small: 10PX;
  --el-border-radius-base:8PX;
 
  /* height */
  --browser-info-height: 38px;
  --header-height: 72px;
  --modal-default-size: 1PX;
  /* color */

}
